* {
    border: 0px solid red;
}

.html {
    scroll-behavior: smooth;
}

.fixed-nav {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.fixed-nav .icon-nav {
    width: 110px;
    display: inline-block;
}

.fixed-nav .tab-nav {
    display: flex;
    align-items: center;
}

.fixed-nav .link-nav {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
    padding-right: 15px;
}

.about-tab,
.experience-tab,
.education-tab,
.contact-tab {
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 5px;
    font-size: 20px;
    cursor: default;
    margin: 7px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border: none;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
}

.about-tab a:link,
.experience-tab a:link,
.education-tab a:link,
.contact-tab a:link,
.about-tab a:visited,
.experience-tab a:visited,
.education-tab a:visited,
.contact-tab a:visited {
    color: black;
    text-decoration: none;
}


.about-tab:hover,
.experience-tab:hover,
.education-tab:hover,
.contact-tab:hover {
    opacity: 1;
    transition-duration: 0.6s;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 10px;
}


#scroll-progress-container {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ccc;
    z-index: 9999;
}

#scroll-progress {
    height: 100%;
    width: 0;
    background-color: black;
    transition: width 0.2s ease;
}

#Welcome {
    margin-top: 200px;
    height: 80vh;
    text-align: center;
}

#Welcome p1 Strong {
    font-size: 60px;
}

#Welcome p1 em {
    font-size: 45px;
    color: #0808086e;
}

#Welcome h1,
p {
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.CV-download-button,
.LinkedIN-button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 65px;
    width: 160px;
    font-size: 17.5px;
    color: black;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Helvetica, sans-serif;
    text-decoration: none;

}

.CV-download-button:hover,
.LinkedIN-button:hover {
    background-color: #0808086e;
    text-decoration: none;
    transition-duration: 0.6s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.CV-download-button a:link,
.LinkedIN-button a:link,
.CV-download-button a:visited,
.LinkedIN-button a:visited {
    color: black;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
}


section h1 {
    padding-top: 75px;
    text-align: center;
    color: black;
    text-decoration: none;
}




footer {
    text-align: center;
    background-color: #e9e7e7;
    padding: 3px;
}